<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tsei.www.mapper.no2.RobotMapper">

    <!-- 1. 로봇 이동 경로 조회 (car_detail 테이블에서 car_code = 'robot1') -->
    <select id="getRobotRouteByDate"
            resultType="com.tsei.www.dto.robot.RobotLocationDTO">
        SELECT
            lat AS latitude,
            lon AS longitude,
            update_time AS date
        FROM car_detail
        WHERE car_code = #{carCode}
          AND update_time BETWEEN #{startTime} AND #{endTime}
        ORDER BY update_time
    </select>

    <select id="getRobotRoute" resultType="com.tsei.www.dto.robot.RobotLocationDTO">
        SELECT
            lat AS latitude,
            lon AS longitude,
            update_time AS date
        FROM car_detail
        WHERE car_code = #{carCode}
          AND update_time BETWEEN #{startTime} AND #{endTime}
        ORDER BY update_time
    </select>

    <select id="getSensorDetailInfo" resultType="com.tsei.www.dto.robot.RobotSensorDTO">
        SELECT
            s.sensor_info_id,
            i.model_no AS sensorModel,
            i.manufacturer,
            i.target_gas AS targetGas,
            s.temp,
            s.humi,
            s.ppm_ref_go AS ppm,
            s.timestamp
        FROM sensor_data s
                 JOIN sensor_info i ON s.sensor_info_id = i.id
        WHERE s.timestamp = (
            SELECT update_time FROM car_detail WHERE idx = #{detailId}
        )
    </select>




    <select id="getSensorDataByDetailId" resultType="com.tsei.www.dto.tracking.SensorDataDTO">
        SELECT sd.*, si.model_no, si.manufacturer
        FROM sensor_data sd
                 JOIN sensor_info si ON sd.sensor_info_id = si.id
        WHERE sd.car_code = #{carCode}
          AND sd.timestamp = (
            SELECT update_time FROM car_detail WHERE idx = #{detailId}
        )
    </select>

    <select id="getRobotMarkers" resultType="com.tsei.www.dto.robot.RobotPathDTO">
        SELECT update_time, lat, lon, theta, volt, control_mode, error_code, measure_flag
        FROM car_detail
        WHERE car_code = #{carCode}
          AND DATE(update_time) = #{date}
        ORDER BY update_time ASC
    </select>

    <select id="getWeatherData" resultType="com.tsei.www.dto.tracking.WeatherDTO">
        SELECT wd_wdd as windDir, wd_wds as windSpeed, wd_temp as temperature, wd_humi as humidity
        FROM weather_data
        WHERE car_code = #{carCode}
          AND reg_date = #{timestamp}
    </select>

    <select id="getSensorData" resultType="com.tsei.www.dto.tracking.SensorDataDTO">
        SELECT
            CASE sensor_info_id
                WHEN 2 THEN 'C7H8'
                WHEN 3 THEN '(CH3)3N'
                WHEN 4 THEN 'VOC'
                WHEN 5 THEN 'CO2'
                WHEN 6 THEN 'HCHO'
                WHEN 7 THEN 'H2S'
                WHEN 8 THEN 'NH3'
                WHEN 9 THEN 'CH3SH'
                WHEN 10 THEN 'SO2'
                WHEN 11 THEN 'NO2'
                WHEN 12 THEN 'CO'
                END AS gasName,
            ROUND(ppm_ref_go, 4) AS ppm
        FROM sensor_data
        WHERE car_code = #{carCode}
          AND timestamp = #{timestamp}
          AND sensor_info_id BETWEEN 2 AND 12
    </select>

    <select id="getAvailableDates" resultType="string">
        SELECT DISTINCT DATE(update_time)
        FROM car_detail
        WHERE car_code = #{carCode}
        ORDER BY DATE(update_time) DESC
    </select>

<!--&lt;!&ndash;    로봇 경로 추적&ndash;&gt;-->
<!--    <select id="getLatestSensorWithInfo" resultType="com.tsei.www.dto.robot.RobotSensorDTO">-->
<!--        SELECT-->
<!--            lsd.car_code AS carCode,-->
<!--            lsd.sensor_info_id AS sensorInfoId,-->
<!--            si.model_no AS sensorModel,-->
<!--            si.manufacturer,-->
<!--            si.target_gas AS targetGas,-->
<!--            lsd.ppm_ref_go AS ppm,-->
<!--            lsd.timestamp-->
<!--        FROM-->
<!--            latest_sensor_data lsd-->
<!--                JOIN-->
<!--            sensor_info si ON lsd.sensor_info_id = si.id-->
<!--        WHERE-->
<!--            (-->
<!--                (lsd.car_code = 'R1' AND DATE(lsd.timestamp) = '2024-08-13') OR-->
<!--            (lsd.car_code = 'R2' AND DATE(lsd.timestamp) = '2025-04-17')-->
<!--        )-->
<!--        ORDER BY-->
<!--            lsd.timestamp-->
<!--    </select>-->

    <select id="getPpmBySensorId" resultType="float">
        SELECT ppm_ref_go AS ppmRefGo
        FROM sensor_data
        WHERE id=#{sensorId}
    </select>



</mapper>
