<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로봇 추적</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">

    <!-- 공통 CSS -->
    <link rel="stylesheet" href="/static/common/css/main.css">
    <link rel="stylesheet" href="/static/common/css/toast.css">

    <!-- 페이지 전용 CSS -->
    <link rel="stylesheet" href="/static/tseiweb/css/main.css">
    <link rel="stylesheet" href="/static/tseiweb/css/loading.css">
    <link rel="stylesheet" href="/static/tseiweb/css/customMarker.css">
    <link rel="stylesheet" href="/static/tseiweb/css/property.css">
    <link rel="stylesheet" href="/static/tseiweb/css/robot.css">

    <!-- Google Maps & 클러스터링 -->
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=YOUR_KAKAO_API_KEY"></script>

    <!-- 1. jQuery 먼저 -->
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>

    <!-- 2. Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- 3. jQuery 기반 toast.js -->
    <script src="/static/common/js/toast.js"></script>

    <!-- 4. polyfill -->
    <script src="/static/tseiweb/js/polyfill.min.js"></script>

    <!-- 5. Google Maps 클러스터러 -->
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
    <script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
    ({ key: "AIzaSyCzxSPknsO4ZKNEf55FpCQl1Ukm0k7shQw", v: "weekly" });</script>



    <script>
        document.addEventListener("DOMContentLoaded", () => {
            window.robotModal = new RobotModal("analysisModal");
        });
    </script>


</head>

<body>
<!-- 공통 헤더 / 사이드바 -->
<header th:replace="common/header"></header>
<nav th:replace="tseiweb/topnav"></nav>

<!-- 알림 영역 -->
<ul class="notifications"></ul>

<!-- 로딩 애니메이션 -->
<div id="loading-anim" style="display: none">
    <div class="center">
        <div class="ring"></div>
        <p>
            <span>loading...</span><br>
            <span id="process-bar"></span><br>
            <span style="color: red">중지를 원하면 ESC를 누르십시오.</span>
        </p>
    </div>
</div>

<!-- 분석 모달 (화학물질 정보) -->
<div id="analysisModal" class="modal">
    <div class="modal_1-content">
        <span class="close" onclick="document.getElementById('analysisModal').style.display='none'">×</span>
        <div>
            <table id="odorPredictTable">
                <thead>
                </thead>
            </table>
            <div id="prevention-button" class="">
                <button data-company_id="">방지시설예측</button>
            </div>
        </div>
        <div class="modal-header" style="cursor:move;">
            <span id="modalText"> 해당 위치의 화학 정보 </span>
        </div>
        <table id="integratedTable">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div><!-- index.html 또는 robot.html 내부 -->

<!-- 📌 사업장 비교 모달창 -->
<div id="robotCompareModal" class="modal">
    <div class="modal-header">
        <span class="close" onclick="document.getElementById('robotCompareModal').style.display='none'">×</span>
    </div>
    <div class="modal_2-content">
        <div style="font-size: 15px;">사업장 고농도 상위 10가지 물질 포함 여부</div>
        <table id="compareTable">
            <thead></thead>
            <tbody></tbody>
        </table>

        <div style="font-size: 15px;">사업장 기여율 상위 10가지 물질 포함 여부</div>
        <table id="compareTable2">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="contents">
    <leftmenu th:replace="tseiweb/leftmenu"></leftmenu>

    <div id="map"></div>
</div>

<div class="div-filter">
    <table class="table-filter">
        <tr>
            <td>
                <p style="font-size: 15px; font-weight: bold; color: grey; padding-top: 7px; padding-left: 5px; padding-right: 5px;">운행내역 조회</p>
                <select id="availableDates">
                    <option value="" disabled selected >날짜 선택</option>
                </select>
                <select style="font-size: 1.4rem; width: 100px;" id="selectQueue" name="순차/전체">
                    <option value="실시간">실시간</option>
                    <option value="순차적">순차적</option>
                    <option value="전체" selected>전체</option>
                </select>
                <select id="carCodeSelect">
                    <option value="" selected disabled>로봇을 선택하세요</option>
                    <option value="R1">로봇 R1</option>
                    <option value="R2">로봇 R2</option>
                </select>
                <p style="font-size: 15px; font-weight: bold; color: grey; padding-top: 7px; padding-left: 5px; padding-right: 5px;">분석결과</p>
                <label class="switch">
                    <input type="checkbox" id="marker_hidden_slide" checked>
                    <span class="slider round"></span>
                    <p> 마커 Hidden </p>
                </label>
                <button class="searchGPS" id="searchRobot"><i class="bi bi-search" style="font-size: 18px;"></i></button>
<!--                <button id="searchRobot">로봇 경로 조회</button>-->
            </td>
        </tr>
    </table>
</div>
<div class="marker_search">
    <table class="marker-filter">
        <tbody>
        <tr>
            <td>
                <p style="font-size: 15px; font-weight: bold; color: grey; padding-top: 7px; padding-left: 5px; padding-right: 5px;">차량마커 조회</p>
                <select style="font-size: 1.4rem" id ="selectCarMarker" name="차량번호선택">
                </select>
                <button class="searchCar" id="searchCar"><i class="bi bi-search" style="font-size: 18px;"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="marker_search2">
    <table class="marker-filter2">
        <tbody>
        <tr>
            <td>
                <p style="font-size: 15px; font-weight: bold; color: grey; padding-top: 7px; padding-left: 5px; padding-right: 5px;">장소 검색</p>
                <input  type="text" style="font-size: 1.4rem" id ="selectPlaceMarker" placeholder="장소 입력">
                <button class="searchPlace" id="searchPlace"><i class="bi bi-search" style="font-size: 18px;"></i></button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- 버튼 -->
<button id="openRobotPathModal" class="robot-path-btn">로봇 주행 경로 입력</button>

<!-- 모달 -->
<div id="robotPathModal" style="display:none; position:fixed; left:30%; top:20%; background:white; padding:20px; border:1px solid #ccc; z-index:9999;">
    <h3>로봇 주행 경로 설정</h3>
    <label for="robotSelect">로봇 선택:</label>
    <select id="robotSelect">
        <option value="R1">R1</option>
        <option value="R2">R2</option>
    </select><br><br>

    <label for="routeType">경로 유형:</label>
    <select id="routeType">
        <option value="oneway">편도</option>
        <option value="round">왕복</option>
        <option value="circle">순환</option>
    </select><br><br>

    <button id="startPath">시작</button>
    <button id="endPath">끝남</button>
    <button id="saveRobotPathBtn">경로 저장</button>
    <button id="viewSavedPath">확인</button>
    <button onclick="document.getElementById('robotPathModal').style.display='none'">닫기</button>
</div>



<!-- 키워드 자동완성 예시 (숨김 상태) -->
<div id="relatedKeywords" style="font-size: 15px; position: fixed; z-index: 9; left: 667px; top: 90px; background-color: white; border: 1px solid #ccc; max-height: 200px; width: 12vw; padding: 5px; overflow-y: auto; display: none;"></div>
<!-- 6. 로딩순서 중요한 모듈 (type="module") -->
<script src="/static/tseiweb/js/MonitoringSystem/Loading.js"></script>
<script src="/static/tseiweb/js/MonitoringSystem/Map.js"></script>
<script src="/static/tseiweb/js/MonitoringSystem/SourcePlace.js"></script>
<script src="/static/tseiweb/js/MonitoringSystem/SourcePlaceList.js"></script>
<script src="/static/tseiweb/js/MonitoringSystem/Modal.js"></script>
<script src="/static/tseiweb/js/MonitoringSystem/Robot.js"></script>
<script src="/static/tseiweb/js/MonitoringSystem/Car.js"></script>
<script src="/static/tseiweb/js/MonitoringSystem/CarList.js"></script>
<script src="/static/tseiweb/js/MonitoringSystem/RobotModal.js"></script>
<script src="/static/tseiweb/js/MonitoringSystem/WebRobot.js"></script>
<script src="/static/tseiweb/js/MonitoringSystem/RobotControl.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", async () => {
        const webRobot = new WebRobot();
        await webRobot.init();
        window.webRobot = webRobot; // 전역에 등록
    });
    document.getElementById("saveRobotPathBtn").addEventListener("click", () => {
        robotControl.savePathToServer();
    });

</script>

</body>
</html>
