<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UFT-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/tseiweb/css/topnav.css">

</head>
<body>
    <div id="topnav">
          <!-- 버튼 부분 -->
    <nav>
        <div class="topnav-buttons-container">
            <button class="button active" onclick="navigateTo('http://219.249.140.29:59083/arims/',this)">악취 차량 추적</button>
            <button class="button" onclick="navigateTo('http://192.168.0.195:8084/complaint/',this)">민원 발생 추적</button>
            <button class="button" onclick="navigateTo('/omsmode',this)">OMS</button>
            <button class="button" onclick="navigateTo('/arims/robot', this)" id="nav-robot">ROBOT</button>

        </div>
    </nav>
</div>
<script src="/static/tseiweb/js/MonitoringSystem/topnav.js"></script>
</body>


</html>