.date-list-container {
    max-height: 150px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

.date-list li {
    padding: 6px;
    cursor: pointer;
}
.contents {
    display: flex;
    height: 100vh; /* ← 중요 */
}


.date-list li:hover {
    background-color: #f0f0f0;
}

.date-list .fixed-highlight {
    background-color: #ffeb3b; /* 노란색 강조 */
    font-weight: bold;
}
#analysisModal {
    background-color: #0B173B;
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 6;
    left: 72%;
    top: 17%;
    width: 396px;
    height: 450px;
    font-size: 14px;
    color: white;
    border: 1px solid #30497D;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}
.integratedTable th, .integratedTable td {
    padding: 4px 8px;
    font-size: 13px;
}

/* 🔷 robotAnalysisModal: analysisModal과 유사하게 */
#robotAnalysisModal {
    background-color: #0B173B;
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 6;
    left: 72%;
    top: 17%;
    width: 396px;
    height: 450px;
    font-size: 14px;
    color: white;
    border: 1px solid #30497D;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
}

/* 🔷 모달 헤더 (드래그 영역) */
#robotModalHeader {
    background-color: #0B173B;
    color: white;
    font-weight: bold;
    padding: 10px;
    cursor: move;
}

/* 🔷 테이블 스타일 */
#robotIntegratedTable th, #robotIntegratedTable td {
    padding: 4px 8px;
    font-size: 13px;
    border-bottom: 1px solid #30497D;
}
.modal_1-content table th{
    background-color: #30497D;
}
#robotCompareModal {
    background-color: #0B173B;
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 6;
    left: 60%;
    top: 17%;
    width: 396px;
    height: 460px;
    font-size: 15px;
    border: 1px solid #30497D;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    color: white;
}
#robotIntegratedTable th, #robotIntegratedTable td {
    padding: 4px 8px;
    font-size: 13px;
    border-bottom: 1px solid #30497D;
}
.modal_2-content table th{
    background-color: #30497D;
}
