.date-list-container {
    max-height: 150px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}

.date-list li {
    padding: 6px;
    cursor: pointer;
}

.date-list li:hover {
    background-color: #f0f0f0;
}

.date-list .fixed-highlight {
    background-color: #ffeb3b; /* 노란색 강조 */
    font-weight: bold;
}
#analysisModal {
    width: 300px;       /* ← 너비 줄이기 */
    height: auto;       /* ← 필요하면 고정 높이도 설정 가능 */
    max-height: 80%;    /* ← 화면 넘지 않게 제한 */
    overflow-y: auto;   /* ← 내용 많으면 스크롤 */
}
#integratedTable th, #integratedTable td {
    padding: 4px 8px;
    font-size: 13px;
}
